[package]
name = "pod-types"
version = "0.1.0"
edition = "2024"
description = "Types of Software Development Kit for the pod Network"
license = "MIT OR Apache-2.0"
readme = "../README.md"
homepage = "https://pod.network/"
repository = "https://github.com/podnetwork/pod-sdk"
keywords = ["web3", "sdk", "rust", "dapp", "crypto"]
documentation = "https://docs.rs/pod-types"

[lib]
name = "pod_types"
path = "src/lib.rs"

[dependencies]
alloy-consensus = { version = "0.12.1", features = [
  "serde",
  "k256",
  "serde-bincode-compat",
] }
alloy-primitives = { version = "^0.8.22", features = ["k256", "serde"] }
alloy-sol-types = "^0.8.22"
alloy-signer = "0.12.1"
alloy-signer-local = "0.12.1"
alloy-rpc-types = "0.12.1"
anyhow = "1.0"
bytes = "1.8.0"
hex = { version = "0.4.3", features = ["serde"] }
serde = { version = "1.0.214", features = ["derive"] }
itertools = "0.13.0"
async-trait = "0.1.83"
tokio = { version = "1.43.1", features = ["rt", "macros"] }
base64 = "0.22.1"
utoipa = "5.3.1"
serde_with = "3.12.0"


[dev-dependencies]
arbitrary = "1.4.1"
alloy-consensus = { version = "0.12.1", features = ["arbitrary"] }
bincode = { version = "2.0.1", features = ["serde"] }
rand = "0.9.1"
serde_json = "*"
