[package]
name = "pod-types"
version = "0.1.0"
edition = "2024"
description = "Types of Software Development Kit for the pod Network"
license = "MIT OR Apache-2.0"
readme = "../README.md"
homepage = "https://pod.network/"
repository = "https://github.com/podnetwork/pod-sdk"
keywords = ["web3", "sdk", "rust", "dapp", "crypto"]
documentation = "https://docs.rs/pod-types"

[lib]
name = "pod_types"
path = "src/lib.rs"

[dependencies]
alloy-consensus = { version = "0.9.2", features = ["serde", "k256"] }
alloy-primitives = { version = "^0.8.15", features = ["k256", "serde"] }
alloy-sol-types = "^0.8.15"
alloy-signer = "0.9.2"
alloy-signer-local = "0.9.2"
alloy-rpc-types = "0.9.2"
k256 = { version = "0.13.4"}
anyhow = "1.0"
rand = "0.8.5"
bytes = "1.8.0"
sha3 = "0.11.0-pre.4"
hex = { version = "0.4.3", features = ["serde"] }
serde_json = "1.0.132"
serde = { version = "1.0.214", features = ["derive"] }
itertools = "0.13.0"
bincode = "1.3.3"
rocksdb = { git = "https://github.com/rust-rocksdb/rust-rocksdb", rev = "1cf906dc4087f06631820f13855e6b27bd21b972" }
async-trait = "0.1.83"
tokio = { version = "1.43.1", features = ["rt", "macros"] }
base64 = "0.22.1"
utoipa = "5.3.1"
