openapi: 3.0.0
info:
  title: JSON-RPC API
  version: 1.0.0

servers:
  - url: https://rpc.podtestnet.dev/
    description: Pod testnet

tags:
  - name: Orderbook Data (ob_)
    description: |
      Orderbook Data (`ob_`) is a read-focused API surface that provides access to
      markets and orderbook activity without requiring clients to run their own
      indexer or interact with the orderbook contracts directly. It is powered
      by a native indexer built into the Pod protocol, ensuring fast, consistent,
      and up-to-date views of on-chain state.
      
      The API exposes live orderbook snapshots, historical OHLCV candles,
      account-level order history and positions, making it ideal for trading
      interfaces, analytics, and monitoring services.

      📝 This is a JSON-RPC 2.0 API. The request path is not important; the
      method to execute is defined by the method field in the request body. You
      can send all requests to /, and any path after / is optional and used only
      for documentation clarity.

      &nbsp; &nbsp; &nbsp;

  - name: Ethereum Interface (eth_)
    description: |
      Ethereum Interface (`eth_`) provides an Ethereum-compatible JSON-RPC layer
      that allows existing wallets, tools, and libraries to interact with Pod
      using familiar methods and conventions. It is designed to be drop-in
      compatible with standard Ethereum client workflows, allowing developers to
      use common tooling such as `ethers.js`, `alloy.rs`, and `cast` without
      modification.

      The interface covers the transaction submission and receipt lifecycle,
      including balance and nonce discovery, read-only contract calls, log
      queries, and real-time subscriptions.

      📝 This is a JSON-RPC 2.0 API. The request path is not important; the
      method to execute is defined by the method field in the request body. You
      can send all requests to /, and any path after / is optional and used only
      for documentation clarity.

      &nbsp; &nbsp; &nbsp;

  - name: Network & Consensus (pod_)
    description: |
      Network & Consensus (`pod_`) exposes Pod-specific endpoints that provide
      visibility into the network’s validator set and consensus process. These
      APIs surface data that is not available through standard Ethereum JSON-RPC
      methods, such as validator committees and aggregated voting information.

      This interface is intended for infrastructure providers, validators, and
      light clients that need to inspect, monitor, or verify the state of the
      Pod network.

      📝 This is a JSON-RPC 2.0 API. The request path is not important; the
      method to execute is defined by the method field in the request body. You
      can send all requests to /, and any path after / is optional and used only
      for documentation clarity.

      &nbsp; &nbsp; &nbsp;

paths:
  # ==========================================
  # GROUP 1: ORDERBOOK DATA (ob_)
  # ==========================================
  /ob_getMarkets:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get All Markets
      operationId: ob_getMarkets
      description: |
        Retrieves a list of all available markets/orderbooks with their metadata
        and statistics. Each market includes token information, current pricing,
        24-hour statistics, and fee structure.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getMarkets" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
            example:
              jsonrpc: "2.0"
              method: "ob_getMarkets"
              params: []
              id: 1
      responses:
        '200':
          description: Array of market objects with metadata and statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Market' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  - id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                    name: "NVDAx/USD"
                    base_token_address: "0x0000000000000000000000000000000000000001"
                    quote_token_address: "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"
                    base_token_symbol: "NVDAx"
                    quote_token_symbol: "USD"
                    base_token_name: "Nvidia"
                    quote_token_name: "USD"
                    market_type: "spot"
                    last_clearing_price: "0x6f05b59d3b200000"
                    auction_interval: 500000
                    volume_24h: "0x2386f26fc10000"
                    high_24h: "0x1158e460913d00000"
                    low_24h: "0x6f05b59d3b200000"
                    price_change_24h: 0
                    maker_fee: "0x0"
                    taker_fee: "0x0"
                    tick_precision: "0x1"
                    lot_size: "0x1"
                    max_leverage: 1
                    oracle_price: null
                    mark_price: null
                    funding_rate: null
                    funding_index: null
                    funding_last_updated: null
                    open_interest: null
                  - id: "0x0000000000000000000000000000000000000000000000000000000000000007"
                    name: "NVDA/USD"
                    base_token_address: "0x0000000000000000000000000000000000000007"
                    quote_token_address: "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"
                    base_token_symbol: "NVDA"
                    quote_token_symbol: "USD"
                    base_token_name: "Nvidia Perpetual"
                    quote_token_name: "USD"
                    market_type: "perpetual"
                    last_clearing_price: "0x796e3ea3f8ab00000"
                    auction_interval: 500000
                    volume_24h: "0x0"
                    high_24h: "0x0"
                    low_24h: "0x0"
                    price_change_24h: 0
                    maker_fee: "0x0"
                    taker_fee: "0x0"
                    tick_precision: "0x1"
                    lot_size: "0x1"
                    max_leverage: 20
                    oracle_price: "0x796e3ea3f8ab00000"
                    mark_price: "0x796e3ea3f8ab00000"
                    funding_rate: "0"
                    funding_index: "0"
                    funding_last_updated: 1704153600000000
                    open_interest: "0x0"
                id: 1

  /ob_getOrderbook:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Orderbook Snapshot
      operationId: ob_getOrderbook
      description: |
        Retrieves the current orderbook snapshot for a specified market, showing buy and sell orders aggregated by price level.
        
        Orders are grouped by price and include total volume and minimum expiry at each level.
        Buy orders are sorted by price descending (best bid first), sell orders by price ascending (best ask first).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getOrderbook" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `orderbook_id` (bytes32): The 32-byte orderbook identifier
                    2. `depth` (integer, optional): Maximum number of price levels to return for each side. If omitted, all available price levels are returned.
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Bytes32'
                      - type: integer
                        description: Depth - maximum price levels per side
                  example: ["0x0000000000000000000000000000000000000000000000000000000000000001", 20]
      responses:
        '200':
          description: Orderbook snapshot with aggregated buy and sell orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/OrderbookSnapshot' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                  buys:
                    "5000000000000000000":
                      volume: "0xde0b6b3a7640000"
                      minimum_expiry: 1704153600000000
                    "4900000000000000000":
                      volume: "0x1bc16d674ec80000"
                      minimum_expiry: 1704153600000000
                  sells:
                    "5100000000000000000":
                      volume: "0x14d1120d7b160000"
                      minimum_expiry: 1704153600000000
                    "5200000000000000000":
                      volume: "0x22b1c8c1227a0000"
                      minimum_expiry: 1704153600000000
                  clearing_price: "0x4563918244f40000"
                  grouping_precision: "0x1"
                  timestamp: 1704153600000000
                  new_orders_count: 5
                  buys_count: 2
                  sells_count: 2
                  oracle_price: null
                  funding_rate: null
                  funding_index: null
                  funding_last_updated: null
                id: 1

  /ob_getCandles:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Historical Candles
      operationId: ob_getCandles
      description: |
        Retrieves historical candle (OHLCV) data for a specified orderbook.
        
        Candles represent aggregated price and volume data over specified time intervals.
        Results are returned sorted by timestamp in descending order (newest first).
        
        All prices are in quote/base units with 1e18 scale (hex-encoded).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getCandles" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `orderbook_id` (Bytes32): The 32-byte orderbook identifier
                    2. `query` (CandlesQuery): Query parameters with resolution, time range, and limit
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Bytes32'
                      - $ref: '#/components/schemas/CandlesQuery'
                  example:
                    - "0x0000000000000000000000000000000000000000000000000000000000000001"
                    - resolution: "1h"
                      from_ts: 1704067200000000
                      to_ts: 1704153600000000
                      limit: 100
      responses:
        '200':
          description: Array of candle objects sorted by timestamp (newest first)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Candle' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  - timestamp: 1704153600000000
                    open: "0x6f05b59d3b200000"
                    close: "0x6f05b59d3b200000"
                    high: "0x6f05b59d3b200000"
                    low: "0x6f05b59d3b200000"
                    volume: "0x2386f26fc10000"
                  - timestamp: 1704150000000000
                    open: "0x6f05b59d3b200000"
                    close: "0x6f05b59d3b200000"
                    high: "0x6f05b59d3b200000"
                    low: "0x6f05b59d3b200000"
                    volume: "0x2386f26fc10000"
                id: 1

  /ob_getOrders:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Account Orders
      operationId: ob_getOrders
      description: |
        Retrieves orders for a specific address in a given orderbook, with support for cursor-based pagination.
        
        Orders are returned in descending order by timestamp/nonce.
        Use the `next_cursor` from the response to fetch subsequent pages.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getOrders" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `address` (Address): The address to get orders for
                    2. `query` (OrdersQuery): Query parameters with optional orderbook_id, limit, cursor, and status filter
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Address'
                      - $ref: '#/components/schemas/OrdersQuery'
                  example:
                    - "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                    - orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                      limit: 10
                      status: "active"
                      with_total: true
      responses:
        '200':
          description: Object containing orders array and pagination cursor
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: object
                    properties:
                      orders:
                        type: array
                        items: { $ref: '#/components/schemas/Order' }
                      total_count:
                        type: integer
                        description: Total number of orders matching the query, regardless of pagination. Present only when the request set `with_total` (omitted otherwise, not null). Older nodes always return it.
                      next_cursor:
                        type: string
                        nullable: true
                        description: 'Cursor for fetching the next page (wire format `"{ts}:{nonce}:{order_id_hex}"`). Null if no more results.'
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  orders:
                    - orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                      market_type: "spot"
                      kind: "user_signed"
                      order_id: "0x9a8b7c6d5e4f30211a2b3c4d5e6f70819a8b7c6d5e4f30211a2b3c4d5e6f7081"
                      tx_hash: "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                      bidder: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                      nonce: 42
                      order_type: "limit"
                      status: "active"
                      side: "buy"
                      price: "0x4563918244f40000"
                      initial_size: "1000000000000000000"
                      filled_base_amount: "0x6f05b59d3b20000"
                      filled_quote_amount: "0x22b1c8c1227a0000"
                      fee: "0x0"
                      deadline: 1704153600000000
                      end: 1704240000000000
                      effective_price: "0x4563918244f40000"
                      fills: []
                      direction: "buy"
                  total_count: 42
                  next_cursor: "1704153600000000:42:abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                id: 1

  /ob_getPositions:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Account Positions
      operationId: ob_getPositions
      description: |
        Retrieves trading positions for a specific address across all orderbooks.
        
        Positions track the cost basis of acquired tokens (from buys and deposits) and compute
        unrealized PnL using the current clearing price. The response includes per-token positions
        (balance, position size, unrealized PnL) and aggregate metrics (total realized PnL,
        total invested, total unrealized PnL).
        
        All amounts use 1e18 fixed-point scale.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getPositions" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `address` (address): The address to get positions for
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: Positions response with per-token positions and aggregate PnL
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/PositionsResponse' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  positions:
                    - kind: "spot"
                      orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                      base_symbol: "NVDAx"
                      quote_symbol: "USD"
                      balance: "0x6c6b935b8bbd400000"
                      free_balance: "0x6c6b935b8bbd400000"
                      locked_balance: "0x0"
                      cost_basis: "0x21e19e0c9bab2400000"
                      mark_price: "0x4563918244f40000"
                      unrealized_pnl: "0"
                      realized_pnl: "0"
                    - kind: "perp"
                      orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000007"
                      base_symbol: "NVDA"
                      quote_symbol: "USD"
                      side: "long"
                      size: "10000000000000000"
                      notional: "0x4f0d4f7e7a3e0000"
                      entry_price: "0x130ee8e7179044a0000"
                      mark_price: "0x130ee8e7179044a0000"
                      margin: "0xc7d713b49da00000"
                      leverage: "0x4563918244f40000"
                      funding_accrued: "0"
                      liquidation_price: "0x115ad84a8ad03c00000"
                      unrealized_pnl: "0"
                      realized_pnl: "0"
                      stop_loss: null
                      take_profit: null
                  total_unrealized_pnl: "0"
                  total_realized_pnl: "0"
                  perps_equity: "0"
                  account_value: "0x21e19e0c9bab2400000"
                  cash: "0"
                  withdrawable_cash: "0x0"
                id: 1

  /ob_getFills:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Account Fills
      operationId: ob_getFills
      description: |
        Retrieves trade fills for a specific address within a time range.

        Fills represent individual trade executions from batch auction settlements.
        A single order may produce multiple fills across different batches. Each fill
        includes the clearing price, base and quote amounts, and the associated
        orderbook and token addresses.

        Results are returned in descending order by timestamp (most recent first).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getFills" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `address` (Address): The address to get fills for
                    2. `query` (FillsQuery): Query parameters with required from_ts and optional to_ts, orderbook_id, and limit
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Address'
                      - $ref: '#/components/schemas/FillsQuery'
                  example:
                    - "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                    - from_ts: 1704067200000000
                      to_ts: 1704153600000000
                      orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                      limit: 100
      responses:
        '200':
          description: Object containing fills array
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/GetFillsResponse' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  fills:
                    - orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                      base_token: "0x0000000000000000000000000000000000000001"
                      quote_token: "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"
                      order_id: "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                      order_type: "limit"
                      initial_size: "1000000000000000000"
                      fee: "0"
                      base_amount: "500000000000000000"
                      quote_amount: "2500000000000000000"
                      timestamp: 1704153600000000
                      price: "5000000000000000000"
                id: 1

  /ob_getBackstopTransfers:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Account Backstop Transfers
      operationId: ob_getBackstopTransfers
      description: |
        Retrieves the backstop transfers for a specific address, with cursor-based pagination.

        A backstop transfer is recorded when a perp position is swept to the backstop during
        liquidation: the position's remaining size and cash are moved off the account. Each entry
        captures the swept size, cash, the mark price at the sweep, and the account equity at that
        moment.

        Results are returned in descending order by timestamp (most recent first). Use `next_cursor`
        from the response to fetch subsequent pages.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getBackstopTransfers" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `address` (Address): The address to get backstop transfers for
                    2. `query` (BackstopTransfersQuery): Optional filters — `orderbook_id`, `limit` (clamped to `[1, 200]`), and `cursor`
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Address'
                      - $ref: '#/components/schemas/BackstopTransfersQuery'
                  example:
                    - "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                    - orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000007"
                      limit: 50
      responses:
        '200':
          description: Object containing the backstop transfers array, total count, and pagination cursor
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/GetBackstopTransfersResponse' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  transfers:
                    - user: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                      orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000007"
                      size: "-10000000000000000"
                      cash: "-5000000000000000000"
                      mark_price: "0x130ee8e7179044a0000"
                      equity: "-1000000000000000000"
                      timestamp: 1704153600000000
                  total_count: 1
                  next_cursor: null
                id: 1

  /ob_getTriggers:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Account Triggers
      operationId: ob_getTriggers
      description: |
        Retrieves the armed TP/SL trigger orders owned by an address, with cursor-based pagination.

        Triggers are conditional perp orders: when the pair's mark price crosses `trigger_price`
        in the direction implied by `trigger_type` and the sign of `size`, the engine emits a
        synthetic order (surfaced through `ob_getOrders` with `kind = triggered`). Triggers
        themselves have no fill history, so this response is leaner than `ob_getOrders`.

        Triggers are returned sorted by `(orderbook_id, order_id)`. Use `next_cursor` from the
        response to fetch subsequent pages.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getTriggers" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `address` (Address): The address to get triggers for
                    2. `query` (TriggersQuery): Optional filters — `orderbook_id`, `limit` (clamped to `[1, 200]`), and `cursor`
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/Address'
                      - $ref: '#/components/schemas/TriggersQuery'
                  example:
                    - "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                    - orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000007"
                      limit: 50
      responses:
        '200':
          description: Object containing the triggers array, total count, and pagination cursor
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/GetTriggersResponse' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  triggers:
                    - orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000007"
                      order_id: "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      tx_hash: "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                      bidder: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                      nonce: 7
                      size: "-10000000000000000"
                      limit_price: "0x115ad84a8ad03c00000"
                      trigger_price: "0x120a871cc0020a00000"
                      trigger_type: "take_profit"
                      grouping: "asset"
                      reduce_only: true
                      ioc: false
                      deadline: "1704153600000000"
                      end: "1704240000000000"
                  total_count: 1
                  next_cursor: null
                id: 1

  /ob_getRankedPositions:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Ranked Positions (Leaderboard)
      operationId: ob_getRankedPositions
      description: |
        Returns accounts ranked by combined realized + unrealized PnL
        (`total_realized_pnl + total_unrealized_pnl`) descending, paginated by `offset`/`limit`.

        Because the unrealized component moves with mark prices, the ordering can shift between
        calls even without trades. When an `address` is supplied, the response also includes that
        account's own positions and rank (`queried`), independent of the returned page.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getRankedPositions" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters (all optional):
                    1. `limit` (integer, nullable): Page size
                    2. `offset` (integer, nullable): Number of ranked accounts to skip
                    3. `address` (Address, nullable): When supplied, also return this account's positions and rank in `queried`
                  items:
                    oneOf:
                      - type: integer
                        nullable: true
                      - $ref: '#/components/schemas/Address'
                  example: [10, 0, "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: Ranked window of accounts plus the total count and optional queried account
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/GetRankedPositionsResponse' }
                  id: { type: integer }

  /ob_getOraclePrices:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Oracle & Mark Prices
      operationId: ob_getOraclePrices
      description: |
        Returns the latest oracle and mark prices recorded for perp orderbooks by the indexer.

        Pass an `orderbook_id` to fetch a single orderbook, or omit it for every perp orderbook.
        Numeric fields are `0` and `as_of` is epoch until the orderbook has run a perp batch.
        Funding state is not included here — call `ob_getFundingRates` for that.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getOraclePrices" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `orderbook_id` (Bytes32, optional): Restrict to a single orderbook; omit for all perp orderbooks
                  items: { $ref: '#/components/schemas/Bytes32' }
                  example: ["0x0000000000000000000000000000000000000000000000000000000000000007"]
      responses:
        '200':
          description: Array of oracle/mark price objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/OraclePrice' }
                  id: { type: integer }

  /ob_getFundingRates:
    post:
      tags: [Orderbook Data (ob_)]
      summary: Get Funding Rates
      operationId: ob_getFundingRates
      description: |
        Returns the latest funding state for perp orderbooks, with the mark and oracle prices
        included for context.

        Pass an `orderbook_id` to fetch a single orderbook, or omit it for every perp orderbook.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "ob_getFundingRates" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Positional parameters:
                    1. `orderbook_id` (Bytes32, optional): Restrict to a single orderbook; omit for all perp orderbooks
                  items: { $ref: '#/components/schemas/Bytes32' }
                  example: ["0x0000000000000000000000000000000000000000000000000000000000000007"]
      responses:
        '200':
          description: Array of funding rate objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/FundingRate' }
                  id: { type: integer }

  # ==========================================
  # GROUP 2: ETHEREUM COMPATIBLE (eth_)
  # ==========================================
  /eth_getBalance:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Get Native Token Balance
      operationId: eth_getBalance
      description: |
        Returns the native token balance for the specified address in the wallet.
        
        **Note:** This returns the wallet balance, which is distinct from the orderbook contract balance.
        To query the balance deposited in the orderbook contract, call the `balanceOf` function on the orderbook contract.
        
        The `block_number` parameter is accepted for Ethereum compatibility but is ignored.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_getBalance" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `address` (address): The address to check balance for
                    2. `block_number` (string): Block identifier (accepted but ignored)
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/Address'
                      - type: string
                        default: "latest"
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28", "latest"]
      responses:
        '200':
          description: Balance in wei (hex-encoded uint256)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/HexUint256' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result: "0x6f05b59d3b200000"
                id: 1

  /eth_chainId:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Get Chain ID
      operationId: eth_chainId
      description: Returns the chain ID used for signing transactions (EIP-155).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_chainId" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
      responses:
        '200':
          description: Chain ID (hex-encoded)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { type: string, example: "0x50d" }
                  id: { type: integer }

  # /eth_blockNumber:
  #   post:
  #     tags: [Ethereum Interface (eth_)]
  #     summary: Get Current Block Number
  #     operationId: eth_blockNumber
  #     description: |
  #       Returns the current timestamp in seconds as the block number.
        
  #       **Pod-specific behavior:** In Pod, the block number represents the current Unix timestamp in seconds rather than a sequential block count.
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required: [jsonrpc, method, id]
  #             properties:
  #               jsonrpc: { type: string, default: "2.0" }
  #               method: { type: string, default: "eth_blockNumber" }
  #               id: { type: integer, default: 1 }
  #               params: { type: array, default: [] }
  #     responses:
  #       '200':
  #         description: Current timestamp as block number (hex-encoded)
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 jsonrpc: { type: string }
  #                 result: { type: string, example: "0x65954e80" }
  #                 id: { type: integer }

  /eth_getTransactionByHash:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Get Transaction by Hash
      operationId: eth_getTransactionByHash
      description: |
        Returns the transaction that matches the given hash, or null if not found.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_getTransactionByHash" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `transaction_hash` (bytes32): The transaction hash to look up
                  items: { $ref: '#/components/schemas/Bytes32' }
                  example: ["0xf74e07ff80dc54c7e894396954326fe13f07d176746a6a29d0ea34922b856402"]
      responses:
        '200':
          description: Transaction object, or `null` if not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    $ref: '#/components/schemas/Transaction'
                  id: { type: integer }

  /eth_getTransactionCount:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Get Transaction Count (Nonce)
      operationId: eth_getTransactionCount
      description: |
        Returns the transaction count (nonce) for the specified address.
        Required for transaction signing to prevent replay attacks.
        The nonce is the current transaction count for the address.

        **Pod-specific:** The `block_tag` parameter is accepted for Ethereum compatibility but is ignored.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_getTransactionCount" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `address` (address): The address to get nonce for
                    2. `block_tag` (string): Block tag (accepted but ignored)
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28", "latest"]
      responses:
        '200':
          description: Nonce (hex-encoded uint256)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/HexUint256' }
                  id: { type: integer }

  /eth_sendRawTransaction:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Send Raw Transaction (Fire-and-Forget)
      operationId: eth_sendRawTransaction
      description: |
        Submits a signed EIP-1559 transaction to the network. Returns the transaction hash on success.
        
        The transaction must be RLP-encoded and signed. Use this method to submit orderbook operations
        (deposits, withdrawals, order submissions, cancellations) to the orderbook contract.
        
        For synchronous attestation feedback (successes/errors from validators), use `pod_sendRawTransaction`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_sendRawTransaction" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `signed_tx` (string): Signed RLP-encoded transaction data
                  items: { type: string, description: "Signed RLP-encoded transaction" }
                  example: ["0x02f8..."]
      responses:
        '200':
          description: Transaction hash
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/Bytes32' }
                  id: { type: integer }

  /pod_sendRawTransaction:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Send Raw Transaction (With Attestation Feedback)
      operationId: pod_sendRawTransaction
      description: |
        Submits a signed EIP-1559 transaction and waits for validator attestations, returning
        tx_hash, success count, and any rejection errors from validators.
        
        **Parameters:**
        - `signed_tx` (string): Signed RLP-encoded transaction data
        - `timeout_secs` (integer, optional): Max seconds to wait for attestations. Default 10.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_sendRawTransaction" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `signed_tx` (string): Signed RLP-encoded transaction data
                    2. `timeout_secs` (integer, optional): Max seconds to wait for attestations
                  example: ["0x02f8...", 10]
      responses:
        '200':
          description: Object with tx_hash, successes count, and errors array
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: object
                    properties:
                      tx_hash: { $ref: '#/components/schemas/Bytes32' }
                      successes: { type: integer, description: "Number of successful attestations" }
                      errors: { type: array, items: { type: object } }
                  id: { type: integer }

  /eth_call:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Execute Read-Only Call
      operationId: eth_call
      description: |
        Executes a new message call immediately without creating a transaction on the blockchain.
        
        Use this method for read-only operations on the orderbook contract, such as:
        - `balanceOf(address token, address account)` - Get deposited balance for a token

        **Orderbook Contract Address:** `0x50d0000000000000000000000000000000000002`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_call" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `transaction` (object): Call object with `to`, `data`, and optionally `from`
                    2. `block_tag` (string): Block tag (e.g., "latest")
                  example: 
                    - to: "0x50d0000000000000000000000000000000000002"
                      data: "0x..."
                    - "latest"
      responses:
        '200':
          description: Return data (hex-encoded)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { type: string, example: "0x000..." }
                  id: { type: integer }

  /eth_getTransactionReceipt:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Get Transaction Receipt
      operationId: eth_getTransactionReceipt
      description: |
        Retrieves the transaction receipt including execution status and event logs.
        
        **Pod-specific:** The receipt includes `pod_metadata` containing validator attestations for transaction finality verification.
        
        Returns `null` if the transaction is not found or not yet processed.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_getTransactionReceipt" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `transaction_hash` (bytes32): The transaction hash to look up
                  items: { $ref: '#/components/schemas/Bytes32' }
                  example: ["0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"]
      responses:
        '200':
          description: Transaction receipt with Pod-specific attestation data, or `null` if not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    $ref: '#/components/schemas/TransactionReceipt'
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  type: "0x2"
                  status: "0x1"
                  cumulativeGasUsed: "0xf4240"
                  logs: []
                  logsBloom: "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                  transactionHash: "0x63dfbb7b3294d3d9aedb9bd1a306ec40156d0da1c374b2348f60c57186704fcd"
                  transactionIndex: "0x0"
                  blockHash: "0x0000000000000000000000000000000000000000000000000000000000000000"
                  blockNumber: "0x1"
                  gasUsed: "0xf4240"
                  effectiveGasPrice: "0x1"
                  from: "0xe51e549231219c35040efcf784f58776d5065d26"
                  to: "0x000000000000000000000000000000000000c10b"
                  contractAddress: null
                  pod_metadata:
                    attestations:
                      - validator_address: "0x3ab7e9c61dece769dc872322ad1e83a5012aa480"
                        sequence_number: 14661
                        batch_index: 0
                        timestamp: 1770737135051543
                        signature: "30450221008bd92c1b51d5f38b2938dab90aa6c401e5695092930885a12a1e42ae445bbbde0220068e6160d83d763079ff0861b21a71af625670dc40361075da7d1b13c92a50c4"
                    committee_epoch: 0
                id: 1

  /eth_estimateGas:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Estimate Gas
      operationId: eth_estimateGas
      description: |
        Estimates the gas required for a transaction.
        
        **Pod-specific behavior:** If the transaction already specifies a gas value, returns that value.
        Otherwise, returns `21000` (standard transaction gas).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_estimateGas" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `transaction` (object): Transaction object with `to`, `data`, `value`, `from`, etc.
                  example: [{ to: "0x50d0000000000000000000000000000000000002", value: "0x0" }]
      responses:
        '200':
          description: Estimated gas (hex-encoded)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/HexUint256' }
                  id: { type: integer }

  /eth_getLogs:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Get Logs
      operationId: eth_getLogs
      description: Returns an array of log objects matching the given filter criteria.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_getLogs" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `filter` (object): Filter object with `address`, `topics`, `fromBlock`, `toBlock`
                  example: [{ address: "0x50d0000000000000000000000000000000000002", topics: [] }]
      responses:
        '200':
          description: Array of log objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: 
                    type: array
                    items: { $ref: '#/components/schemas/Log' }
                  id: { type: integer }

  /eth_subscribe:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Subscribe to Events (WebSocket)
      operationId: eth_subscribe
      description: |
        Creates a subscription to receive real-time updates over WebSocket. Updates are pushed
        after each auction settlement for the subscribed orderbook(s) / account.

        **Subscription types:**
        - `pod_orderbook` — each notification is a single `OrderbookSnapshot` for the orderbook
          (the same shape `ob_getOrderbook` returns).
        - `pod_orders` — each notification is an **array of `OrderUpdate`** describing what changed
          to orders this settlement: new/invalid orders, expirations, cancellations, modifications,
          and fills.
        - `pod_orders_v2` — the same information as `pod_orders` in a smaller, extensible frame: one
          `OrdersFrameV2` per orderbook per batch, which names the batch and the orderbook once,
          publishes each order created in that batch once, and expresses everything else as events
          referencing it. Prefer this for new integrations; `pod_orders` is unchanged and stays
          supported.
        - `pod_candles` — a per-tick candle hint (`CandleTick`) per cleared orderbook: clearing
          price and volume at the batch deadline, for folding into the forming bar. Not a closed
          OHLCV bar (see `ob_getCandles`).
        - `pod_markets` — a `MarketDynamicEntry` per orderbook carrying live market statistics
          (last clearing price, 24h volume/high/low, and perp mark/oracle/funding/open-interest).
        - `pod_positions` — a `PositionsUpdate` (`{ account, data }`, where `data` matches
          `ob_getPositions`) for the subscribed account, pushed when a settlement touches it.
          **Requires** `account` (alias `bidder`).
        - `pod_triggers` — a `TriggersUpdate` (the `ob_getTriggers` fields plus `account`) for the
          subscribed account, pushed when a settlement touches it. **Requires** `account`.

        `pod_orderbook`, `pod_orders`, `pod_orders_v2`, and `pod_candles` are **delta** channels
        (they stream what changed each tick). `pod_markets`, `pod_positions`, and `pod_triggers` are **state** channels
        (each pushes a current snapshot). See `since` below for how each behaves on catch-up.

        Subscriptions follow the standard Ethereum `eth_subscribe` pattern:
        1. Subscribe with `eth_subscribe` → receive a subscription ID.
        2. Receive updates as `eth_subscription` notifications (see the notification shape below).
        3. Cancel with `eth_unsubscribe`, passing the subscription ID.

        **Notification format.** Updates arrive as JSON-RPC notifications, not responses:
        ```json
        {
          "jsonrpc": "2.0",
          "method": "eth_subscription",
          "params": { "subscription": "0x<id>", "result": <payload> }
        }
        ```
        The `result` payload shape depends on the subscription type (see the list above).

        **Reading a `pod_orders_v2` frame.** `orders` holds the orders *created* in this batch, each
        once; `events` says what happened. An event names its order either by `o` (an index into this
        frame's `orders`) or by `id` (an order resting from an earlier batch, whose owner is `a`) —
        exactly one of the two. Owners are interned into `accts` and referenced by index, except when the
        subscription names exactly one account, where `accts` and every `a` are omitted because every
        row belongs to you. A subscription naming several accounts carries them, so decode on whether
        `accts` is present rather than on whether you sent a filter. Absent optional fields carry a documented default (see `OrderEntityV2`), so a
        plain user-signed limit order is small.

        Two things clients most often get wrong. `batch` is the batch an action **landed in**, which
        for an order is at or before the `deadline` it was signed for — an intent may be included in an
        earlier batch than it targets. And a fill carries **both** kinds of amount: `b`/`q` are what
        that fill filled, while `tb`/`tq`/`tf` are the order's running totals. Apply `b`/`q`; use the
        totals to check your own figure. Reading a total as a per-batch amount double-counts. There is
        no per-fill fee, so difference `tf` for that.

        **Identity.** `id` is the resting order id, derived as
        `keccak256(abi_encode(signer, nonce, sequence))` — the signing key, that transaction's nonce,
        and the order's position inside a `submitBatch` envelope (`0` when the transaction carries one
        intent). You can compute it before broadcasting and match your own orders on the first frame
        that mentions them. Derive from the *delegate's* address for a delegated order: the id keys on
        the signer, while `a`/`accts` report the owner. Note `n` is the transaction's nonce, so orders
        from one envelope share `n` and `tx` and differ only in `id`.

        **Every terminal event carries the order's final totals**, whichever shape ends it: a `fill`
        bearing `st` for an order that filled out, or `cancel`/`expire` for one removed from the book —
        both with `tb`/`tq`/`tf`. So a terminal handler is uniform and needs no accumulation of the
        order's earlier fills, which matters for a partially filled order canceled for its remainder:
        the amounts it did fill travel with the cancel. An order that both fills and terminates in the
        same batch reports the totals on both events, with the same values.

        **Forward compatibility.** Clients MUST ignore event kinds (`k`) and fields they do not
        recognise: new event kinds will be added without a new channel version. Existing keys are
        never renamed or repurposed.

        **Server-initiated close.** The server may end a subscription on its own — most often because
        it dropped ticks for a subscriber that fell behind, which it does rather than serve a delta
        stream with a gap in it. That arrives on the same `eth_subscription` method with `error` in
        place of `result`, carrying a code, whether the stream is resumable, and the `resume_since`
        watermark to resubscribe from:
        ```json
        {
          "jsonrpc": "2.0",
          "method": "eth_subscription",
          "params": {
            "subscription": "0x<id>",
            "error": { "code": -32020, "message": "…", "data": { "resumable": true, "resume_since": 1718900000000000 } }
          }
        }
        ```
        Nothing further is sent for that subscription; the connection and any other subscriptions on
        it are unaffected. Because a delta stream never has holes, this close is the only signal that
        data was lost — while a subscription is open, no updates means an idle market. See
        [JSON-RPC Errors](../json-rpc-errors.md#subscription-close-notifications) for every code and
        the recommended client response.

        On `pod_orders_v2` the close additionally carries `resume_since_book` whenever the batch it
        stopped in was only partly delivered — the last `book` you were sent. Pass both back, as
        `since` and `since_book`, and you receive exactly the frames you never got: no replay, no gap.
        This is the case the two-part cursor exists for, because a close midway through a batch is
        precisely when you cannot tell where you got to — frames already accepted by the connection
        may not have reached your code yet. `resume_since_book` is absent when the batch landed whole,
        and then `resume_since` alone is the position.

        **Filtering.** `pod_orderbook`, `pod_orders`, `pod_orders_v2`, `pod_candles`, and `pod_markets` accept
        `orderbook_ids` (alias `clob_ids`) to restrict the stream to specific orderbooks
        (empty/omitted = all). `pod_orders` and `pod_orders_v2` additionally accept `bidder` to deliver
        only that account's updates, and `pod_orders_v2` accepts `bidders` — a set of up to 64
        distinct accounts — to follow several on one subscription instead of opening one each.
        `bidder` and `bidders` are mutually exclusive, and naming more than one account makes the
        frame carry `accts`/`a` (see above). `pod_positions` and `pod_triggers` are account-scoped and **require**
        `account` (alias `bidder`); they ignore `orderbook_ids`. `depth` applies to `pod_orderbook`
        snapshots only.

        **Catch-up (`since`).** Optionally pass `since` (a solution time in **microseconds**) to
        catch up with no gap or duplicate. Delta channels (`pod_orderbook`, `pod_orders`,
        `pod_candles`) replay buffered ticks with deadline strictly greater than `since`; if `since`
        predates the retained buffer the subscription is rejected (backfill via REST and
        resubscribe). State channels (`pod_markets`, `pod_positions`, `pod_triggers`) emit one
        current snapshot immediately, then stream live. Omitted = live-only. Which option applies to
        which subscription type is summarised in `SubscriptionParams`.

        **Catch-up on `pod_orders_v2` (`since` + `since_book`).** One batch settles many orderbooks
        and is delivered as one frame each, so a batch is not atomic on the wire — a client can hold
        part of one. Resume on the **pair**: `since` is the `batch` of the last frame you accepted and
        `since_book` its `book`. Replay then skips every book at or below `since_book` within that
        batch and delivers later batches whole, so a client that accepted 7 of 10 books receives the
        remaining 3 without a gap or a duplicate. Track one pair, not a per-book map. Omitting
        `since_book` means "the whole of `since` arrived", which is correct if you subscribe to a
        single orderbook, because a batch is then one frame.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_subscribe" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `subscription_type` (string): one of `pod_orderbook`, `pod_orders`,
                       `pod_orders_v2`, `pod_candles`, `pod_markets`, `pod_positions`,
                       `pod_triggers`.
                    2. `options` (SubscriptionParams): filter/format options; all fields optional
                       except where a channel requires `account`. Which fields take effect depends on
                       the subscription type:
                       - `orderbook_ids` (alias `clob_ids`, array of bytes32) — `pod_orderbook`,
                         `pod_orders`, `pod_orders_v2`, `pod_candles`, `pod_markets`: restrict to
                         those orderbooks (empty/omitted = all). Ignored by `pod_positions` /
                         `pod_triggers`.
                       - `depth` (integer) — **`pod_orderbook` only**: cap the price levels per side
                         in each snapshot (omit for all levels).
                       - `bidder` (alias `account`, address) — `pod_orders`, `pod_orders_v2`:
                         stream only that bidder's updates (omit for all). **Required** for
                         `pod_positions` and `pod_triggers` (the account to stream).
                       - `bidders` (array of addresses) — **`pod_orders_v2` only**: follow several
                         accounts on one subscription. A set — order irrelevant, repeats collapsed —
                         capped at 64 distinct accounts. Mutually exclusive with `bidder`; rejected
                         on other channels. More than one account makes the frame carry `accts`/`a`.
                       - `since` (integer, microseconds) — all channels: catch-up watermark (see the
                         method description).
                       - `since_book` (bytes32) — **`pod_orders_v2` only**: the `book` of the last
                         frame accepted at `since`, completing the resume cursor (see the method
                         description). Omit if the whole of `since` arrived.
                  items:
                    oneOf:
                      - type: string
                        enum: [pod_orderbook, pod_orders, pod_orders_v2, pod_candles, pod_markets, pod_positions, pod_triggers]
                      - $ref: '#/components/schemas/SubscriptionParams'
            examples:
              pod_orderbook:
                summary: pod_orderbook with a depth cap, restricted to one orderbook
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_orderbook", { clob_ids: ["0x0000000000000000000000000000000000000000000000000000000000000001"], depth: 50 }]
              pod_orders_by_bidder:
                summary: pod_orders filtered to a single bidder across all orderbooks
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_orders", { bidder: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28" }]
              pod_orders_v2:
                summary: pod_orders_v2 across all orderbooks, live-only
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_orders_v2", {}]
              pod_orders_v2_resume:
                summary: pod_orders_v2 resuming mid-batch from a (batch, book) cursor
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_orders_v2", { since: 1704153600000000, since_book: "0x0000000000000000000000000000000000000000000000000000000000000001" }]
              pod_candles:
                summary: pod_candles for one orderbook, replaying ticks since a watermark
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_candles", { orderbook_ids: ["0x0000000000000000000000000000000000000000000000000000000000000001"], since: 1704153600000000 }]
              pod_markets:
                summary: pod_markets live stats across all orderbooks
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_markets", {}]
              pod_positions:
                summary: pod_positions for one account (account required)
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_positions", { account: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28" }]
              pod_triggers:
                summary: pod_triggers for one account (account required)
                value:
                  jsonrpc: "2.0"
                  method: "eth_subscribe"
                  id: 1
                  params: ["pod_triggers", { account: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28" }]
      responses:
        '200':
          description: |
            Messages received on the subscription. The immediate reply to `eth_subscribe` is the
            subscription ID; every subsequent message is an `eth_subscription` notification whose
            `params.result` carries the streamed payload — its shape determined by the subscription
            type (see the method description and `EthSubscriptionMessage`).
          content:
            application/json:
              schema:
                oneOf:
                  - title: Subscription confirmation (immediate reply)
                    type: object
                    properties:
                      jsonrpc: { type: string }
                      result: { type: string, description: "Subscription ID" }
                      id: { type: integer }
                  - $ref: '#/components/schemas/EthSubscriptionMessage'
              examples:
                confirmation:
                  summary: Immediate reply with the subscription ID
                  value: { jsonrpc: "2.0", result: "0x9ce59a13059e417087c02d3236a0b1cc", id: 1 }
                pod_orders_notification:
                  summary: A streamed pod_orders notification (array of OrderUpdate)
                  value:
                    jsonrpc: "2.0"
                    method: "eth_subscription"
                    params:
                      subscription: "0x9ce59a13059e417087c02d3236a0b1cc"
                      result:
                        - type: "new"
                          orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                          market_type: "spot"
                          kind: "user_signed"
                          order_id: "0x9a8b7c6d5e4f30211a2b3c4d5e6f70819a8b7c6d5e4f30211a2b3c4d5e6f7081"
                          tx_hash: "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                          bidder: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                          nonce: 42
                          order_type: "limit"
                          status: "active"
                          side: "buy"
                          price: "0x4563918244f40000"
                          initial_size: "1000000000000000000"
                          filled_base_amount: "0x0"
                          filled_quote_amount: "0x0"
                          fee: "0x0"
                          deadline: 1704153600000000
                          end: 1704240000000000
                          effective_price: "0x0"
                          fills: []
                          direction: "buy"
                        - type: "fill"
                          orderbook_id: "0x0000000000000000000000000000000000000000000000000000000000000001"
                          order_id: "0x9a8b7c6d5e4f30211a2b3c4d5e6f70819a8b7c6d5e4f30211a2b3c4d5e6f7081"
                          tx_hash: "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                          bidder: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"
                          status: "filled"
                          base_amount: "0x6f05b59d3b20000"
                          quote_amount: "0x22b1c8c1227a0000"
                          filled_base_amount: "0x6f05b59d3b20000"
                          filled_quote_amount: "0x22b1c8c1227a0000"
                          effective_price: "0x4563918244f40000"
                          fee: "0x0"

  /eth_unsubscribe:
    post:
      tags: [Ethereum Interface (eth_)]
      summary: Cancel a Subscription (WebSocket)
      operationId: eth_unsubscribe
      description: |
        Cancels an active subscription created with `eth_subscribe`. Pass the subscription ID
        returned by the original `eth_subscribe` call. Returns `true` if a matching subscription
        was found and removed.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "eth_unsubscribe" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `subscription_id` (string): The ID returned by `eth_subscribe`
                  items: { type: string }
                  example: ["0x9ce59a13059e417087c02d3236a0b1cc"]
      responses:
        '200':
          description: Whether the subscription was found and cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { type: boolean }
                  id: { type: integer }

  # ==========================================
  # GROUP 3: Pod Consensus Endpoints (_pod)
  # ==========================================
  /pod_getCommittee:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Validator Committee
      operationId: pod_getCommittee
      description: Returns information about the current validator committee.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getCommittee" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
      responses:
        '200':
          description: Committee information
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { type: object }
                  id: { type: integer }


  /pod_getVoteBatches:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Vote Batches
      operationId: pod_getVoteBatches
      description: Retrieves vote batches from validators within a specified range.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getVoteBatches" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `from_sequence` (integer, nullable): Starting sequence number. None = start from 0
                    2. `to_sequence` (integer, nullable): Ending sequence number. None = up to latest
                  items: { type: integer, nullable: true }
                  example: [0, 1000]
      responses:
        '200':
          description: Array of vote batch objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { type: object }
                  id: { type: integer }


  /pod_getBridgeClaimProof:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Bridge Claim Proof
      operationId: pod_getBridgeClaimProof
      description: |
        Returns a proof for claiming bridged assets on an external chain. Use this after a
        deposit transaction has been executed on Pod to obtain the committee attestations
        and proof data needed to call `claim` on the external bridge contract.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getBridgeClaimProof" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `tx_hash` (bytes32): Transaction hash of the deposit transaction
                  items: { $ref: '#/components/schemas/Bytes32' }
                  example: ["0xf74e07ff80dc54c7e894396954326fe13f07d176746a6a29d0ea34922b856402"]
      responses:
        '200':
          description: Bridge claim proof for the external chain `claim` call
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/BridgeClaimProof' }
                  id: { type: integer }
              example:
                jsonrpc: "2.0"
                result:
                  signatures: "0x..."
                  committee_epoch: 42
                  proof: "0xf74e07ff80dc54c7e894396954326fe13f07d176746a6a29d0ea34922b856402"
                id: 1
        '400':
          description: Receipt not found or insufficient attestations
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  error:
                    type: object
                    properties:
                      code: { type: integer }
                      message: { type: string }
                  id: { type: integer }

  /pod_getAccountInfo:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Account Info
      operationId: pod_getAccountInfo
      description: |
        Returns an account's finalized/expected nonces and last finalized transaction as this node
        sees them. Public and unauthenticated diagnostic info. Returns null when the account has
        never finalized a transaction.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getAccountInfo" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `account` (address): The account to look up.
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: Account nonce info, or null if the account has never finalized a tx
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    $ref: '#/components/schemas/AccountInfoResponse'
                    nullable: true
                  id: { type: integer }

  /pod_getLastFinalizedNonce:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Last Finalized Nonce
      operationId: pod_getLastFinalizedNonce
      description: Returns the account's last finalized nonce, or null when the account has never finalized a tx.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getLastFinalizedNonce" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `account` (address): The account to look up.
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: The account's last finalized nonce, or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { type: integer, format: int64, nullable: true }
                  id: { type: integer }

  /pod_getTxStatus:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Transaction Status
      operationId: pod_getTxStatus
      description: |
        Returns the full pipeline status of a transaction: `pending` (with live vote counts),
        `finalized` (with execution result), or `not_found` for an unknown tx hash.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getTxStatus" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `tx_hash` (bytes32): The transaction hash to look up.
                  items: { $ref: '#/components/schemas/Bytes32' }
                  example: ["0xf74e07ff80dc54c7e894396954326fe13f07d176746a6a29d0ea34922b856402"]
      responses:
        '200':
          description: Transaction status
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/TxStatusResponse' }
                  id: { type: integer }

  /pod_getVotes:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Votes at a Nonce
      operationId: pod_getVotes
      description: |
        Returns the votes observed for a given (account, nonce): the voter set per transaction hash
        plus the BOT voters. Returns null when no votes are pending at that nonce (never seen, or
        already finalized).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getVotes" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `account` (address): The account whose votes to inspect.
                    2. `nonce` (integer): The nonce to inspect.
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28", 42]
      responses:
        '200':
          description: Votes at the (account, nonce), or null if none are pending
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    $ref: '#/components/schemas/AccountNonceVotesResponse'
                    nullable: true
                  id: { type: integer }

  /pod_getTransactions:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Transactions by Hash
      operationId: pod_getTransactions
      description: |
        Fetches full signed transactions by hash. The request hash list is capped server-side, and
        the response is additionally truncated to the node's max response body size — a transaction
        that does not fit is omitted (re-request whatever is missing). Each returned item is a signed
        Pod transaction (EIP-1559 envelope plus signature); decode with the Pod SDK.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getTransactions" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `tx_hashes` (array of bytes32): Transaction hashes to fetch.
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Bytes32' }
                  example: [["0xf74e07ff80dc54c7e894396954326fe13f07d176746a6a29d0ea34922b856402"]]
      responses:
        '200':
          description: Array of signed transaction objects (possibly truncated to the body-size budget)
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { type: object, description: A signed Pod transaction. }
                  id: { type: integer }

  /pod_listTransactions:
    post:
      tags: [Network & Consensus (pod_)]
      summary: List Transactions
      operationId: pod_listTransactions
      description: Lists signed transactions, optionally filtered by sender and/or recipient, up to an optional limit.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_listTransactions" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters (all optional, positional):
                    1. `from_account` (address, nullable): filter by sender.
                    2. `to_account` (address, nullable): filter by recipient.
                    3. `limit` (integer, nullable): maximum number of transactions to return.
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28", null, 100]
      responses:
        '200':
          description: Array of signed transaction objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { type: object, description: A signed Pod transaction. }
                  id: { type: integer }

  /pod_getRecoveryTargetTx:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Recovery Target Transaction
      operationId: pod_getRecoveryTargetTx
      description: Returns the transaction an account must recover past to make progress, or null if the account does not need recovery.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getRecoveryTargetTx" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `account` (address): The account to inspect.
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: The recovery target, or null if none
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    $ref: '#/components/schemas/TargetTx'
                    nullable: true
                  id: { type: integer }

  /pod_getProcessedDeposits:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Processed Deposits
      operationId: pod_getProcessedDeposits
      description: |
        Returns the bridge deposit replay-protection set (a `watermark` plus the processed ids at or
        above it). The relayer queries this to drop already-processed deposits from a batch.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getProcessedDeposits" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
      responses:
        '200':
          description: The processed-deposit set
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/ProcessedDepositsResponse' }
                  id: { type: integer }

  /pod_getPrecompiles:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Precompiles
      operationId: pod_getPrecompiles
      description: Returns the list of enshrined precompile contracts (bridge, CLOB, recovery, ...) with their addresses and names.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getPrecompiles" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
      responses:
        '200':
          description: Array of precompiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    type: array
                    items: { $ref: '#/components/schemas/Precompile' }
                  id: { type: integer }

  /pod_getPrecompileInfo:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Precompile Info
      operationId: pod_getPrecompileInfo
      description: Returns a single precompile's address, name, and callable interface.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getPrecompileInfo" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `address` (address): The precompile address.
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x50d0000000000000000000000000000000000002"]
      responses:
        '200':
          description: Precompile info
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/PrecompileInfo' }
                  id: { type: integer }

  /pod_getSolverState:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Solver State
      operationId: pod_getSolverState
      description: |
        Returns the solver node's current state: its address and public key, next finalized nonce,
        last executed and last generated solution batches, and the votes seen for the next solution.
        Only meaningful when queried against the solver node.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getSolverState" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
      responses:
        '200':
          description: Solver state
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/SolverStateResponse' }
                  id: { type: integer }

  /pod_getValidatorStatus:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Validator Status
      operationId: pod_getValidatorStatus
      description: |
        Returns this node's own validator state: append-log sequence number, local past-perfect
        time, last executed batch deadline, and derived next-solution deadline. Values reflect the
        queried node's in-memory state, not a consensus view.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getValidatorStatus" }
                id: { type: integer, default: 1 }
                params: { type: array, default: [] }
      responses:
        '200':
          description: Validator status
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/ValidatorStatusResponse' }
                  id: { type: integer }

  /pod_getValidatorAccountStatus:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Validator Account Status
      operationId: pod_getValidatorAccountStatus
      description: |
        Returns how a specific validator has voted with respect to a specific account: what it has
        (or hasn't) voted at each pending nonce, as seen by this node. Returns null when the
        validator address is not in the current committee.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getValidatorAccountStatus" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `validator` (address): The validator to inspect.
                    2. `account` (address): The account to inspect.
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x1111111111111111111111111111111111111111", "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: Validator's per-nonce vote state for the account, or null if the validator is not in the committee
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result:
                    $ref: '#/components/schemas/ValidatorAccountStatusResponse'
                    nullable: true
                  id: { type: integer }

  /pod_getAccountDiagnostics:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Account Diagnostics
      operationId: pod_getAccountDiagnostics
      description: |
        Returns a full diagnostic snapshot of a single account across all committee validators:
        per-validator vote state, recovery status, CLOB pending-solution presence, and equivocation
        detection — all in one call.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [jsonrpc, method, params, id]
              properties:
                jsonrpc: { type: string, default: "2.0" }
                method: { type: string, default: "pod_getAccountDiagnostics" }
                id: { type: integer, default: 1 }
                params:
                  type: array
                  description: |
                    Parameters:
                    1. `account` (address): The account to diagnose.
                  items: { $ref: '#/components/schemas/Address' }
                  example: ["0x742d35Cc6634C0532925a3b844Bc9e7595f2bD28"]
      responses:
        '200':
          description: Account diagnostics
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc: { type: string }
                  result: { $ref: '#/components/schemas/AccountDiagnosticsResponse' }
                  id: { type: integer }

  /pod_status:
    post:
      tags: [Network & Consensus (pod_)]
      summary: Get Node Status
      operationId: pod_status
      description: |
        Returns the operational status of the node. Currently exposes `read_only` — when true, the
        node rejects `sendRawTransaction` submissions. Public and unauthenticated.
[...]
