[package]
name = "pod-sdk"
version = "0.1.6"
edition = "2021"
description = "Software Development Kit for the pod Network"
license = "MIT OR Apache-2.0"
readme = "../README.md"
homepage = "https://pod.network/"
repository = "https://github.com/podnetwork/pod-sdk"
keywords = ["web3", "sdk", "rust", "dapp", "crypto"]
documentation = "https://docs.rs/pod-sdk"

[lib]
name = "pod_sdk"
path = "src/lib.rs"

[dependencies]
pod-types = { path = "../types", version = "0.1.6" }

alloy-primitives = { version = "1.1.0", features = ["k256", "serde"] }
alloy-sol-types = "1.1.0"
alloy-transport-http = "1.0.9"
alloy-eips = "1.0.9"
alloy-rpc-types = "1.0.9"
alloy-transport = "1.0.9"
alloy-json-rpc = "1.0.9"
alloy-signer = "1.0.9"
alloy-signer-local = "1.0.9"
alloy-network = "1.0.9"
alloy-consensus = "1.0.9"
alloy-provider = { version = "1.0.9", features = ["pubsub", "ws", "reqwest"] }
alloy-pubsub = "1.0.9"

serde = { version = "1.0.214", features = ["derive"] }
futures = "0.3.31"
hex = "0.4.3"
anyhow = "1.0.95"
async-trait = "0.1.88"

[dev-dependencies]
tokio-test = "0.4.4"

[package.metadata.cargo-shear]
# tokio-test is used in doctests
ignored = ["tokio-test"]
