[package]
name = "pod-sdk"
version = "0.1.0"
edition = "2021"
description = "Software Development Kit for the pod Network"
license = "MIT OR Apache-2.0"
readme = "../README.md"
homepage = "https://pod.network/"
repository = "https://github.com/podnetwork/pod-sdk"
keywords = ["web3", "sdk", "rust", "dapp", "crypto"]
documentation = "https://docs.rs/pod-sdk"

[lib]
name = "pod_sdk"
path = "src/lib.rs"

[dependencies]
alloy-primitives = { version = "^0.8.15", features = ["k256", "serde"] }
alloy-rpc-types = "0.9.2"
alloy-transport = "0.9.2"
alloy-json-rpc = "0.9.2"
pod-types = { path = "../types" }
serde = { version = "1.0.214", features = ["derive"] }
alloy-signer = "0.9.2"
alloy-signer-local = "0.9.2"
alloy-sol-types = "0.8.24"
alloy-network = "0.9.2"
futures = "0.3.31"
alloy-consensus = "0.9.2"
alloy-provider = { version = "0.9.2", features = ["pubsub", "ws", "reqwest"] }
alloy-pubsub = "0.9.2"
hex = "0.4.3"
alloy-eips = "0.9.2"
anyhow = "1.0.95"
async-trait = "0.1.88"

[dev-dependencies]
tokio-test = "0.4.4"

[package.metadata.cargo-shear]
# tokio-test is used in doctests
ignored = ["tokio-test"]
