[package]
name = "pod-contracts"
version = "0.1.0"
edition = "2024"

[lib]
name = "pod_contracts"
path = "src/lib.rs"

[dependencies]
alloy-sol-types = "^0.8.15"
alloy-contract = "0.9.2"
alloy-primitives = { version = "^0.8.15", features = ["k256", "serde"] }
sha2 = "0.10.8"
