name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5

    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: 1.92
        components: clippy

    - uses: Swatinem/rust-cache@v2
    - name: Versions
      run: |
        cargo version
        cargo clippy --version

    - name: Run clippy
      run: cargo clippy -- -D warnings

  check-for-unused-deps:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5

    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@main

    - name: Install cargo-shear
      run: cargo binstall --no-confirm cargo-shear

    - run: cargo shear
