name: Test

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@1.92

      - uses: Swatinem/rust-cache@v2

      - name: Version
        run: cargo version

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  contracts:
    name: examples-solidity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - name: Show Forge version
        run: |
          forge --version

      - name: Run Forge fmt
        run: |
          forge fmt --check
        working-directory: examples/solidity
        id: fmt

      - name: Run Forge build
        run: |
          forge build --sizes
        working-directory: examples/solidity
        id: build

      # Uncomment this once we have a test suite for contracts
      # - name: Run Forge tests
      #   run: |
      #     forge test -vvv
      #   working-directory: contracts
      #   id: test

      - name: Check bindings
        run: |
          make check
        working-directory: examples/solidity
        id: bindings

  protocol:
    name: protocol
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - name: Run Forge fmt
        run: |
          forge fmt --check
        id: fmt
        working-directory: protocol

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build
        working-directory: protocol

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
        working-directory: protocol
        env:
          ETH_RPC_URL: ${{ secrets.ETH_RPC_URL }}

      - name: Check bindings
        run: |
          make check
        working-directory: protocol
        id: bindings

  solidity-sdk:
    name: solidity-sdk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - name: Run Forge fmt
        run: |
          forge fmt --check
        id: fmt
        working-directory: solidity-sdk

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build
        working-directory: solidity-sdk

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
        working-directory: solidity-sdk

  voting:
    name: voting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - name: Run Forge fmt
        run: |
          forge fmt --check
        id: fmt
        working-directory: examples/voting/contract

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build
        working-directory: examples/voting/contract

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
        working-directory: examples/voting/contract

      - name: Check bindings
        run: |
          make check
        working-directory: examples/voting/contract
        id: bindings

  notary:
    name: notary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - name: Run Forge fmt
        run: |
          forge fmt --check
        id: fmt
        working-directory: examples/notary

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build
        working-directory: examples/notary

      - name: Check bindings
        run: |
          make check
        working-directory: examples/notary
        id: bindings
